* {
    margin: 0;
    padding: 0;
}

body{
    height: 150lvh;
}

.back, .font{
    position: fixed;
    top: 0;
    bottom: 0;
}

.front{
    z-index: 1;
    aspect-ratio: 16/9;
    background: url(./foreground.png) no-repeat;
    background-size: contain;
    background-position: 100% 50%;
    animation: ft-zoom 1s linear;
    animation-timeline: scroll(y);
}

.back{
    z-index: -2;
    aspect-ratio: 16/9;
    background: url(./mountains.jpg) no-repeat;
    background-size: cover;
    background-position: 100%;
    animation: bk-zoom 1s linear;
    animation-timeline: scroll(y);
}

.font{
    z-index: 1;
}

@keyframes ft-zoom {
    from {
        filter: blur(5px);
        transform: translate(50px) scale(1.3);
    }
    to{
        filter: blur(0px);
        transform: translate(50px) scale(1.8);
    }
}

@keyframes bk-zoom {
    from{
        filter: blur(0px);
        transform: translate(50px) scale(1.8);
    }
    to{
        filter: blur(5px);
        transform: translate(50px) scale(1.3);
    }
}